[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icecream = "*"
rich = "*"
pydantic = "*"
loguru = "*"
langchain = "*"
langchain-openai = "*"
langchain_anthropic = "*"
backoff = "*"
httpx = "*"
pandas = "*"
pyarrow = "*"
typing-extensions = "*"
openai = "*"
pudb = "*"
py-cord = "*"
jupyterlab = "*"
black = "*"
jupytext = "*"
python-lsp-server  = "*"
jupyterlab-lsp = "*"
jupyter-lsp = "*"
# jupyter-ai hasn't been much fun :(
# jupyter-ai = "*"
langchainhub = "*"
typer = "*"
tiktoken = "*"
jupyter = "*"
ruff = "*"
asyncer = "*"
fastapi = "*"
chromadb = "*"

[dev-packages]
# I'm not sure why, but when I put some of the packges in dev packages
# I can't find certain imports, so keeping it all in packages for now
# since I'm not creating a module

[scripts]
bestie-bot = "python3 bestie-bot.py"
qa-bot = "python3 qa_blog.py run-bot"
improv-bot = "python3 improv_bot.py"
